@import './base.css';

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}

.background{
  height: 100vh; 
  width: 100vw;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.rounded-button {
  background: black; 
  border: none; 
  padding-bottom: 1rem;
  padding-top: 1rem; 
  font-size: 1.5rem; 
  font-weight: 600; 
  color: white;  
  text-align: center;
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  opacity: 1; 
  width: 10rem; 
  outline: none; 
  border-radius: 1.25rem;
}

.rounded-button:hover {
  background-color: darkgrey 
}
